<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessagingConfigSection" type="Benner.Messaging.MessagingFileConfigSection, Benner.Messaging, Culture=neutral, PublicKeyToken=257abf4668fbf313" />
  </configSections>
  <MessagingConfigSection>
    <queues>
      <queue name="teste" broker="RabbitMQ" />
    </queues>
    <brokerList default="RabbitMQ">
      <broker name="RabbitMQ" type="Benner.Messaging.RabbitMQConfig, Benner.Messaging, Culture=neutral, PublicKeyToken=257abf4668fbf313">
        <add key="HostName" value="bnu-vtec012" />
        <add key="Port" value="5672" />
        <add key="UserName" value="guest" />
        <add key="Password" value="guest" />
      </broker>
    </brokerList>
  </MessagingConfigSection>
</configuration>