<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net461" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net461" />
</packages>