<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net462" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.3.103.6" targetFramework="net462" />
  <package id="AWSSDK.SQS" version="3.3.100.42" targetFramework="net462" />
  <package id="Ionic.Zlib.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Storage.Common" version="10.0.3" targetFramework="net462" />
  <package id="Microsoft.Azure.Storage.Queue" version="10.0.3" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.8" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net462" />
</packages>